footer(class="bg-dark text-white text-center py-4 mt-5 shadow-lg")
  .container
    p.mb-1 &copy; #{new Date().getFullYear()} Meu Projeto Financeiro
    small
      | Desenvolvido por 
      a(href="https://github.com/Gbmonte9" target="_blank" class="text-white text-decoration-underline ms-1") Gabriel Monte