extends layout

block content

    include includes/navbar

    .card.rounded-5.p-5.text-center.border.border-white.shadow-white

      p#dados-cliente.text-light.fs-5.mb-4.text-center
        | Aqui você pode acompanhar suas finanças pessoais de forma simples e eficiente.

      section#resumo-financeiro.mb-5
        h2.text-light.mb-3 Resumo Financeiro
        ul.list-group.shadow-sm
          li#dados-saldo.list-group-item.bg-dark.text-white.d-flex.justify-content-between.align-items-center
            strong Saldo Atual:
            span#saldo-valor.text-light.ms-2 R$ 0,00
          li#dados-receita-mes.list-group-item.bg-dark.text-white.d-flex.justify-content-between.align-items-center
            strong Receitas do mês:
            span#receita-valor.text-light.ms-2 R$ 0,00
          li#dados-despesa-mes.list-group-item.bg-dark.text-white.d-flex.justify-content-between.align-items-center
            strong Despesas do mês:
            span#despesa-valor.text-light.ms-2 R$ 0,00

block scripts
  script(src="/javascripts/components/clienteInfo.js")