doctype html
html
  head
    title API de Controle de Finanças Pessoais
  body
    h1 Bem-vindo à API de Finanças Pessoais

    p Esta aplicação permite que você registre, consulte e analise suas transações financeiras.
    p Você pode cadastrar uma conta, realizar login, adicionar transações (entrada/saída), gerar relatórios por categoria e por período, além de consultar seu saldo atual.

    p Para começar, escolha uma opção abaixo:

    a(href="/login") Login
    br
    a(href="/registrar") Cadastrar