extends layout

block content

  .card.shadow-lg.rounded-4.p-5.text-center.border.border-white
    h1.display-5.fw-bold.mb-4 #{title}

    form
      .mb-3.text-start
        label.form-label(for="email") Email:
        input.form-control(type="email", name="email", id="email", required, placeholder="Digite seu email")

      .mb-3.text-start
        label.form-label(for="senha") Senha:
        input.form-control(type="password", name="senha", id="senha", required, placeholder="Digite sua senha")

      p#message.mt-3

      .d-grid
        button.btn.btn-light.btn-lg(type="button", id="btnEntrar") Entrar

    hr.my-4

    .d-grid.gap-2.d-md-flex.justify-content-md-center
      a.btn.btn-outline-light.flex-fill(href="/") Descrição
      a.btn.btn-outline-light.flex-fill(href="/registrar") Cadastrar

block scripts
  script(src="/javascripts/login/login.js")