extends layout

block content

  include includes/navbar

  .card.rounded-4.p-5.text-center.border.border-white.shadow-white
    h1.text-white.mb-4.text-center #{title}

    form(action="/cliente/registrar" method="PUT" enctype="multipart/form-data")
      .mb-3.text-start
        label.form-label(for="nome") Nome:
        input.form-control(type="text" id="nome" name="nome" required value=nome)

      .mb-3.text-start
        label.form-label(for="email") Email:
        input.form-control(type="email" id="email" name="email" required value=email)

      .mb-3.text-start
        label.form-label(for="senha") Senha:
        input.form-control(type="password" id="senha" name="senha" placeholder="Deixe vazio para não alterar")

      .mb-3.text-start
        label.form-label(for="senha1") Confirmar Senha:
        input.form-control(type="password" id="senha1" name="senha1" placeholder="Confirme a nova senha")

      .mb-3.text-start
        label.form-label(for="foto") Foto:
        input.form-control(type="file" name="foto" id="foto")
        small.form-text.text-light Não é obrigatório colocar foto, mas se desejar.

      p#message

      .d-flex.justify-content-center.gap-3.mt-4
        button.btn.btn-light(type="submit" id="btnEditarCliente") Editar

        button.btn.btn-secondary(type="buttom" id="btnDesativarConta") Desativar Conta

block scripts
  script(src="/javascripts/perfil/perfil.js")
  script(src="/javascripts/perfil/desativarPerfil.js")
  script(src="/javascripts/components/clienteInfo.js")

      
