extends layout

block content 

  .card.rounded-4.p-5.text-center.border.border-white.shadow-white

    h1.display-5.fw-bold.mb-4 #{title}

    form(action="/cliente/registrar" method="POST" enctype="multipart/form-data")
      .mb-3.text-start
        label.form-label(for="nome") Nome:
        input.form-control(type="text", name="nome", id="nome", required, placeholder="Digite seu nome")

      .mb-3.text-start
        label.form-label(for="email") Email:
        input.form-control(type="email", name="email", id="email", required, placeholder="Digite seu email")

      .mb-3.text-start
        label.form-label(for="senha") Senha:
        input.form-control(type="password", name="senha", id="senha", required, placeholder="Digite sua senha")

      .mb-3.text-start
        label.form-label(for="senha1") Confirmar Senha:
        input.form-control(type="password", name="senha1", id="senha1", required, placeholder="Confirme sua senha")

      .mb-3.text-start
        label.form-label(for="foto") Foto:
        input.form-control(type="file", name="foto", id="foto")
        small.form-text.text-light Não é obrigatório colocar foto, mas se desejar.

      p#message.mt-3

      button.btn.btn-light.btn-lg.w-100(type="submit") Cadastrar

    hr.my-4 

    .d-grid.gap-2.d-md-flex.justify-content-md-center
      a.btn.btn-outline-light.flex-fill(href="/login") Login
      a.btn.btn-outline-light.flex-fill(href="/") Descrição

block scripts
  script(src="/javascripts/registrar/registrar.js")