extends layout

block content

  include includes/navbar

  .card.rounded-4.p-5.text-center.border.border-white.shadow-white
    h2.text-center.mb-4.text-light Relatórios Financeiros

    .row.text-center.mb-4
      .col-md-4
        .card.bg-secondary.p-3
          h5.text-white Receitas Totais
          p.mb-0#totalReceitas.text-white R$ 0,00
      .col-md-4
        .card.bg-light.p-3
          h5.text-secondary Despesas Totais
          p.mb-0#totalDespesas.text-secondary R$ 0,00
      .col-md-4
        .card.bg-dark.p-3
          h5.text-white Saldo Final
          p.mb-0#saldoFinal.text-white R$ 0,00

    .row.mt-4.mb-4
      .col-md-6
        .card.p-3.bg-secondary
          h6.text-white Maior Receita
          p.mb-1(id="descricaoMaiorReceita") ---
          small(id="valorMaiorReceita").text-white R$ 0,00
      .col-md-6
        .card.p-3.bg-light
          h6.text-black Maior Despesa
          p.mb-1#descricaoMaiorDespesa.text-black ---
          small#valorMaiorDespesa.text-black R$ 0,00

    // GRÁFICO DE PIZZA
    .mt-5
      h4.text-light.text-center Distribuição por Categoria
      canvas#graficoPizza(style="max-height: 350px;")

    // Gráfico de barras
    .mt-5
      h4.text-light.text-center Distribuição por Categoria (Gráfico de Barras)
      canvas#graficoBarras(style="max-height: 350px; width: 100%;")

    // TABELA DETALHADA
    h4.text-light.mt-5.mb-3 Detalhamento por Categoria
    table.table.table-striped.table-bordered
      thead
        tr
          th Categoria
          th Tipo
          th Valor Total
      tbody(id="tabelaRelatorio")
        tr
          td(colspan="3").text-center Carregando dados...

    .mt-4.d-flex.justify-content-center
      button#btnDownloadPdf.btn.btn-light.me-2 Download

block scripts
  script(src="/javascripts/components/clienteInfo.js")
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(src="/javascripts/relatorios/relatorios.js")
  script(src="/javascripts/relatorios/downloadPdf.js")
    