doctype html
html
  head
    title Relatórios Financeiros
  body
    h1 Relatórios Detalhados

    nav
      ul
        li: a(href="/perfil") Perfil
        li: a(href="/transacoes") Transações
        li: a(href="/transacoes/nova") Nova Transação
        li: a(href="/relatorios") Relatórios
        li: a(href="/") Sair

    //- Filtro de período
    section
      h2 Filtro por período

      form(action="/relatorios" method="GET")
        label(for="mes") Selecionar mês:
        input(type="month" name="mes" id="mes")

        span Ou escolha um intervalo de datas:

        label(for="dataInicio") Início:
        input(type="date" name="dataInicio" id="dataInicio")

        label(for="dataFim") Fim:
        input(type="date" name="dataFim" id="dataFim")

        button(type="submit") Ver Relatório

    //- Gráfico por categoria (apenas placeholder)
    section
      h2 Gráfico por Categoria
      p (gráfico será exibido aqui)

    //- Tabela resumida
    section
      h2 Tabela Resumida
      table(border="1")
        thead
          tr
            th Categoria
            th Tipo
            th Valor Total
        tbody
          //- Exemplo de dados estáticos
          tr
            td Alimentação
            td Despesa
            td R$ 500,00
          tr
            td Salário
            td Receita
            td R$ 3.000,00
          tr
            td Transporte
            td Despesa
            td R$ 200,00