extends layout

block content

  include includes/navbar

  .card.rounded-4.p-5.text-center.border.border-white.shadow-white
    h2.mb-4.text-center Editar Transação

    form
      .mb-3.text-start
        label.form-label(for="tipo") Tipo:
        select.form-select(name="tipo" id="tipo" required)
          option(value="" disabled selected) Selecione o tipo
          option(value="receita") Receita
          option(value="despesa") Despesa

      .mb-3.text-start
        label.form-label(for="descricao") Descrição:
        input.form-control(type="text" id="descricao" name="descricao")

      .mb-3.text-start
        label.form-label(for="valor") Valor:
        input.form-control(type="number" step="0.01" id="valor" name="valor")

      .mb-3.text-start
        label.form-label(for="categoria") Categoria:
        select.form-select(name="categoria" id="categoria" required)
          option(value="" disabled selected) Selecione a categoria

      p#message.text-success.text-center

      button.btn.btn-light.btn-lg.w-100(type="button" id="btnAtualizarTransacao") Atualizar Transação


block scripts
  script(src="/javascripts/components/clienteInfo.js")
  script.
    window.transacaoId = !{JSON.stringify(transacao_id)};
  script(src="/javascripts/transacoes/transacoes-editar.js")