extends layout

block content

  include includes/navbar

  .card.rounded-5.p-5.text-center.border.border-white.shadow-white

        h2.mb-4.text-center Lista de Transações

        form.row.g-3.mb-4
  
          .col-md-3
            label.form-label(for="tipo") Tipo
            select.form-select(name="tipo" id="tipo")
              option(value="") Selecione um tipo
              option(value="receita") Receita
              option(value="despesa") Despesa

          .col-md-3
            label.form-label(for="categoria") Categoria
            select.form-select(name="categoria" id="categoria")
              option(value="") Selecione uma categoria

          .col-md-3
            label.form-label(for="valor") Valor
            input.form-control(type="number" step="0.01" name="valor" id="valor" placeholder="Ex: 150.00")

          .col-md-3
            label.form-label(for="data") Data
            input.form-control(type="date" name="data" id="data")

          .col-12
            button.btn.btn-light.mt-2.w-100(type="button" id="btnFiltrar") Filtrar

        // TABELA
        .table-responsive.d-none.d-md-block
          table.table.table-dark.table-hover.table-bordered.mt-3
            thead.bg-white.text-dark
              tr
                th Tipo
                th Descrição
                th Valor
                th Categoria
                th Data
                th Ações
            tbody#tabela-transacoes

        // VISUAL MOBILE (visível apenas em telas pequenas)
        #transacoes-mobile.d-block.d-md-none




block scripts
  script(src="/javascripts/components/clienteInfo.js")
  script(src="/javascripts/transacoes/transacoes.js")